body {
    text-align: center;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    text-shadow: -0px 1px 8px black;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  }
  
    .login-form input[type="text"], .login-form input[type="password"]{
    padding: 18px;
    display: block;
    width: 300px;
    border: 1px solid #eee;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: -5px 5px 20px black;
  }
  
  .login-form input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #216687;
    width: 250px;
    border: 0;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: -5px 5px 20px black;
  
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }

  .login-form input[type="submit"]:hover {
    background-color: #4f7d6b;
  }

